.table-container {
    border: 1px solid black;
    background-color: #a6d9ff;
    border-radius: 3px;
    height: 20em;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;

    thead {
        display: table;
        flex: 0, 0, auto;
        table-layout: fixed;
        width: calc(100% - 1.3em);

        tr {
            background-color: #a6d9ff;

            th {
                border-left: 1px solid black;
            }

            th:first-child {
                border-left: none;
            }
        }
    }

    tbody {
        display: block;
        flex: 1, 1, auto;
        overflow-x: hidden;
        overflow-y: scroll;

        tr {
            background-color: #cce9ff;
            display: table;
            table-layout: fixed;
            width: 100%;

            td {
                border-right: 1px solid black;
            }

            form {
                display: inline;
                padding-left: 1em;

                input {
                    border-radius: 3px;
                }

                .will-split-button {
                    background-color: #c3f7c8;
                }

                .wont-split-button {
                    background-color: #ffd9d9;
                }
            }
        }

        tr:nth-child(even) {
            background-color: #e6f4ff;
        }
    }
}

.form-group {
    display: inline;
    padding: 1em;

    * {
        display: inline;
    }
}

section {
    margin: 2em 0;
}

#add-restaurant-section form {
    display: inline;
    padding-left: 1em;
}

.card {
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333;
    padding: 1em;
}

.quad-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

#edit-form .card {
    background-color: #e6f4ff;
}

#show-card {
    background-color: rgb(250, 242, 233);
}

.favorite-button {
    float: right;
}