// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

article {
    display: grid;
    gap: 3em 3em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: stretch;
    width: 100%;

    section {
        margin: 0;

        table {
            max-height: 20em;
        }
    }

    .comments {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .votes {
        table {
            thead {
                tr {
                    background-color: #54c45e;
                }
            }

            tbody {
                tr {
                    background-color: #e5ffe5;
                }

                tr:nth-child(even) {
                    background-color: #c3f7c8;
                }
            }
        }
    }

    .favorites {
        .card {
            background-color: #ffeca9;
        }
    }
}
